<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledger.business.mapper.CtgLedgerProjectExpenseDetailMapper">
    
    <resultMap type="CtgLedgerProjectExpenseDetail" id="CtgLedgerProjectExpenseDetailResult">
        <result property="id"    column="id"    />
        <result property="ledgerProjectId"    column="ledger_project_id"    />
        <result property="expenseReportNumber"    column="expense_report_number"    />
        <result property="subjectName"    column="subject_name"    />
        <result property="feeType"    column="feeType"    />
        <result property="amount"    column="amount"    />
        <result property="reimburserName"    column="reimburser_name"    />
        <result property="reimburserLoginName"    column="reimburser_login_name"    />
        <result property="reimbursementSequenceNo"    column="reimbursement_sequence_no"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCtgLedgerProjectExpenseDetailVo">
        select id, ledger_project_id, expense_report_number, subject_name, feeType, amount, reimburser_name, reimburser_login_name, reimbursement_sequence_no, remark, create_by, create_time, update_by, update_time from ctg_ledger_project_expense_detail
    </sql>

    <select id="selectCtgLedgerProjectExpenseDetailList" parameterType="CtgLedgerProjectExpenseDetail" resultMap="CtgLedgerProjectExpenseDetailResult">
        <include refid="selectCtgLedgerProjectExpenseDetailVo"/>
        <where>  
            <if test="ledgerProjectId != null "> and ledger_project_id = #{ledgerProjectId}</if>
            <if test="expenseReportNumber != null "> and expense_report_number = #{expenseReportNumber}</if>
            <if test="subjectName != null  and subjectName != ''"> and subject_name like concat('%', #{subjectName}, '%')</if>
            <if test="feeType != null  and feeType != ''"> and feeType like concat('%', #{feeType}, '%')</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="reimburserName != null  and reimburserName != ''"> and reimburser_name like concat('%', #{reimburserName}, '%')</if>
            <if test="reimburserLoginName != null  and reimburserLoginName != ''"> and reimburser_login_name like concat('%', #{reimburserLoginName}, '%')</if>
            <if test="reimbursementSequenceNo != null "> and reimbursement_sequence_no = #{reimbursementSequenceNo}</if>
        </where>
    </select>
    
    <select id="selectCtgLedgerProjectExpenseDetailById" parameterType="Long" resultMap="CtgLedgerProjectExpenseDetailResult">
        <include refid="selectCtgLedgerProjectExpenseDetailVo"/>
        where id = #{id}
    </select>

    <select id="selectCtgLedgerProjectExpenseDetailByExpenseReportNumber" parameterType="Long" resultMap="CtgLedgerProjectExpenseDetailResult">
        <include refid="selectCtgLedgerProjectExpenseDetailVo"/>
        where expense_report_number = #{expenseReportNumber}
    </select>

    <select id="selectCtgLedgerProjectExpenseDetailWithMaxReimbursementSequenceNoByProjectId" parameterType="Long" resultMap="CtgLedgerProjectExpenseDetailResult">
        <include refid="selectCtgLedgerProjectExpenseDetailVo"/>
        where ledger_project_id = #{ledgerProjectId}
        order by reimbursement_sequence_no desc
        limit 1
    </select>

    <insert id="insertCtgLedgerProjectExpenseDetail" parameterType="CtgLedgerProjectExpenseDetail" useGeneratedKeys="true" keyProperty="id">
        insert into ctg_ledger_project_expense_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ledgerProjectId != null">ledger_project_id,</if>
            <if test="expenseReportNumber != null">expense_report_number,</if>
            <if test="subjectName != null and subjectName != ''">subject_name,</if>
            <if test="feeType != null and feeType != ''">feeType,</if>
            <if test="amount != null">amount,</if>
            <if test="reimburserName != null and reimburserName != ''">reimburser_name,</if>
            <if test="reimburserLoginName != null and reimburserLoginName != ''">reimburser_login_name,</if>
            <if test="reimbursementSequenceNo != null">reimbursement_sequence_no,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ledgerProjectId != null">#{ledgerProjectId},</if>
            <if test="expenseReportNumber != null">#{expenseReportNumber},</if>
            <if test="subjectName != null and subjectName != ''">#{subjectName},</if>
            <if test="feeType != null and feeType != ''">#{feeType},</if>
            <if test="amount != null">#{amount},</if>
            <if test="reimburserName != null and reimburserName != ''">#{reimburserName},</if>
            <if test="reimburserLoginName != null and reimburserLoginName != ''">#{reimburserLoginName},</if>
            <if test="reimbursementSequenceNo != null">#{reimbursementSequenceNo},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCtgLedgerProjectExpenseDetail" parameterType="CtgLedgerProjectExpenseDetail">
        update ctg_ledger_project_expense_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="ledgerProjectId != null">ledger_project_id = #{ledgerProjectId},</if>
            <if test="expenseReportNumber != null">expense_report_number = #{expenseReportNumber},</if>
            <if test="subjectName != null and subjectName != ''">subject_name = #{subjectName},</if>
            <if test="feeType != null and feeType != ''">feeType = #{feeType},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="reimburserName != null and reimburserName != ''">reimburser_name = #{reimburserName},</if>
            <if test="reimburserLoginName != null and reimburserLoginName != ''">reimburser_login_name = #{reimburserLoginName},</if>
            <if test="reimbursementSequenceNo != null">reimbursement_sequence_no = #{reimbursementSequenceNo},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtgLedgerProjectExpenseDetailById" parameterType="Long">
        delete from ctg_ledger_project_expense_detail where id = #{id}
    </delete>

    <delete id="deleteCtgLedgerProjectExpenseDetailByIds" parameterType="String">
        delete from ctg_ledger_project_expense_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>